@media (min-width: 425px) {
  div.side-menu {
    display: none;
  }

  div.nav-header ul.medium {
    display: flex;
  }

  .hamburger {
    display: none;
  }

  div#overlay {
    display: none;
  }
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
