.main-container {
  margin-top: 65px;
}

@media (min-width: 425px) {
  /* Nav Bar */
  div.side-menu {
    display: none;
  }

  div.nav-header ul.medium {
    display: flex;
  }

  .hamburger {
    display: none;
  }

  div#overlay {
    display: none;
  }

  /* Lists */
  div.card-container-spical ul.list-card-spical,
  div.card-container ul.list-card {
    width: 420px;
  }

  /* Item Detail */
  div.item-container .item-title {
    width: 380px;
  }
  div.item-container .item-image {
    width: 378px;
    height: 295px;
  }

  div.item-container .item-summary {
    width: 380px;
  }
}

@media (min-width: 640px) {
  /* Lists */
  div.card-container-spical ul.list-card-spical,
  div.card-container ul.list-card {
    width: 630px;
  }

  /* Item Detail */
  div.item-container .item-image {
    width: 498px;
    height: 375px;
  }
  div.item-container .item-title {
    width: 500px;
  }

  div.item-container .item-summary {
    width: 500px;
  }
}

@media (min-width: 768px) {
  /* Item Detail */
  div.item-container .item-image {
    width: 598px;
    height: 450px;
  }
  div.item-container .item-title {
    width: 600px;
  }

  div.item-container .item-summary {
    width: 600px;
  }
}

@media (min-width: 1024px) {
  /* Lists */
  div.card-container-spical ul.list-card-spical,
  div.card-container ul.list-card {
    width: 850px;
  }
}

@media (min-width: 1280px) {
  /* Lists */
  div.card-container-spical ul.list-card-spical,
  div.card-container ul.list-card {
    width: 1060px;
  }
}
