/* Desktop navbar */
.nav-header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
  height: 65px;
  text-transform: uppercase;
  background-color: #34495e;
}

.nav-header ul.medium {
  font-size: 20px;
  display: none;
}

.nav-header ul.medium li,
.nav-header .liIcon {
  position: relative;
  margin-right: 20px;
  padding-bottom: 2px;
}

/* Navbar items bottom border */
.nav-header a.router-link-exact-active,
ul.small li a.router-link-exact-active {
  color: #bdc3c7;
}

.nav-header a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ecf0f1;
  height: 1px;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}

.nav-header a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}

/* Navbar icon hover */
.nav-header a:hover {
  cursor: pointer;
}

/* Mobile menu */
.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  z-index: 5;
  background: #34495e;
  display: flex;
  justify-content: center;
  transform: translateX(-100%);
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 1s;
}

ul.small {
  margin-top: 50px;
  font-size: 20px;
  color: #ecf0f1;
}

ul.small li {
  margin-top: 15px;
}

ul.small li a:hover {
  color: #bdc3c7;
}

/* Overlay */
.overlay-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000088;
  z-index: 4;
}

/* Hamburger item */
.hamburger {
  position: fixed;
  top: 25px;
  left: 20px;
  z-index: 10;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #ecf0f1;
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(5px);
}

.hamburger-bottom {
  transform: translateY(10px);
}

/* Transtion hamburger to x when open */
.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Mobile menu */
.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  z-index: 6;
  background: #34495e;
  display: flex;
  justify-content: center;
  transform: translateX(-100%);
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 1s;
}

ul.small {
  margin-top: 50px;
  font-size: 20px;
  color: #ecf0f1;
}

ul.small li {
  margin-top: 15px;
}

ul.small li a:hover {
  color: #bdc3c7;
}

/* Bring mobile menu from left */
div.show-menu {
  transform: translateX(0);
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 1s;
}

/* Overlay */
.overlay-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000088;
  z-index: 4;
}

/* Hamburger Menu */
.hamburger {
  position: fixed;
  top: 25px;
  left: 20px;
  z-index: 10;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #ecf0f1;
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(5px);
}

.hamburger-bottom {
  transform: translateY(10px);
}

/* Transtion hamburger to x when open */
.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
